{% extends "base.html" %}
{% block content %}

<h2>{{ product.name }}</h2>

<img src="{{ url_for('static', filename='uploads/' + product.image) }}" width="250">

<p><b>Price:</b> ₹{{ product.price }}</p>
<p>{{ product.description }}</p>

<br>

<a href="{{ url_for('add_to_cart', product_id=product.id) }}" class="btn btn-success">
    Add to Cart
</a>

{% if current_user.is_admin %}
<a href="{{ url_for('delete_product', product_id=product.id) }}" 
   class="btn btn-danger"
   onclick="return confirm('Are you sure you want to delete this product?');">
    Delete Product
</a>
{% endif %}

{% endblock %}
